﻿
<%@ Page Title="Divisible_Sizzable Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Divisible_Sizzable.aspx.cs" Inherits="Bonus.Divisible_Sizzable" %>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    <div>
              <h3>Divisible_Sizzable</h3>
            <asp:Label ID="X_Value" runat="server" Text="X"></asp:Label>
            <asp:TextBox ID="X_Text" runat="server"></asp:TextBox>
            <br />
            <br />
            <asp:Button ID="Submit" runat="server" Text="SUBMIT" OnClick="Submit_Click" />

            
        <div id="prime" runat="server">

        </div>
        </div>
    
        
</asp:Content>


