﻿
<%@ Page Title="String_Bling Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="String_Bling.aspx.cs" Inherits="Bonus.String_Bling" %>


<asp:Content ContentPlaceHolderID="MainContent" runat="server">
     <div>
             <h3>String Bling</h3>
            <asp:Label ID="stringValue" runat="server" Text="String"></asp:Label>
            <asp:TextBox ID="stringText" runat="server"></asp:TextBox>
            <br />
            <br />
            <asp:Button ID="Submit" runat="server" Text="Check Palindrome" OnClick="Submit_Click" />

            
        <div id="palindrome" runat="server">

        </div>
       
        </div>
       
    
</asp:Content>



